* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    height: 100vh;
    background-color: lightyellow;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 250px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    display: grid;
    gap: 20px;
    background-color: white;
}

.card>img {
    height: 205px;
    max-width: 205px;
    width: auto;
    justify-self: center;
}

.card>a {
    text-decoration: none;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    border: 2px solid darkolivegreen;
    color: gold;
    background-color: green;
    font-weight: bold;
    font-size: 22px;
    display: grid;
    place-items: center;
    transition: .2s all linear;
}

.card>a:hover {
    background-color: gold;
    color: green;
}