* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: lightgrey;
}

#game {
    width: 75%;
    min-height: 500px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
}

#board {
    width: 100%;
    height: 100%;
    background-color: gray;
    padding: 20px;
    display: grid;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

#info {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.symbols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.symbols button {
    width: 80%;
    aspect-ratio: 1 / 1;
    font-size: clamp(30px, 500%, 50px);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    border: 2px solid;
}

#btnS {
    background-color: tomato;
    border-color: red;
}

#btnO {
    background-color: lightskyblue;
    border-color: blue;
}

.active {
    border-width: 5px !important;
}

.players {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#board button, #board button:disabled {
    color: black;
    border: 1px solid black;
    background-color: #efefef;
    font-size: 22px;
    font-weight: bold;
}

#player1, #player2, #player1Score, #player2Score {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 22px;
    font-weight: 500;
}

#player1, #player2 {
    justify-content: start;
}

#player1Score, #player2Score {
    justify-content: end;
}

.playing {
    background-color: lightskyblue;
}

@media screen and (max-width: 750px) {
    #game {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.3fr;
    }

    #board {
        padding: 5px 15px;
        /* background-color: red; */
    }
}