* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, cursive;
}

body {
    margin: 0;
    height: 100vh;
    padding: 10px;
    display: grid;
    place-items: center;
    background-image: url('../img/background.jpg');
}

.display {
    display: none;
    grid-template-columns: repeat(3, 125px);
    grid-template-rows: repeat(3, 125px);
    gap: 5px;
    grid-row: 2;
    justify-self: center;
}

button {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #fff;
    border: 2px solid black;
    font-size: 72px;
    color: black;
    border-radius: 5px;
    border: 3px solid black;
}

.infoDesk {
    display: none;
    grid-template-columns: auto 1fr 35px 35px 1fr auto;
    align-items: center;
    width: 375px;
    gap: 10px;
    justify-self: center;
    background-color: #F98A76;
    padding: 10px;
    border-radius: 10px;
}

.box {
    width: 32px;
    height: 32px;
    border-radius: 7px;
    display: grid;
    place-items: center;
    font-size: 28px;
}

.player1 {
    background-color: #df381f;
}

.player2 {
    background-color: #36b1f3;
}

#pl2 {
    justify-self: right;
}

#score1,
#score2 {
    justify-self: center;
}



@media only screen and (max-width: 600px) {
    .display {
        grid-template-columns: repeat(3, 30vw);
        grid-template-rows: repeat(3, 30vw);
    }

    .infoDesk {
        width: 100%;
        padding: 10px;
        grid-template-columns: auto 1fr 35px;
        justify-self: center;
    }

    #score2,
    #pl2,
    .player2 {
        grid-row-start: 2;
    }

    #score2 {
        grid-column-start: 3;
    }

    #pl2 {
        grid-column-start: 2;
        justify-self: left;
    }

    .player2 {
        grid-column-start: 1;
    }
}