* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    display: grid;
    grid-template-rows: 0.3fr 2fr;
    height: 100vh;
    background-color: #D3D3D3;
}

.game {
    width: 55%;
    height: auto;
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    gap: 20px;
    place-self: center;
}

#infoBox {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 15px;
    padding: 20px;
}

#imgBox {
    width: 100%;
}

#wordHintBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#playerBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.letterBox,
.keys {
    width: 35px;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    border: 2px solid black;
    grid-row: 1;
    margin: 10px;
    display: grid;
    place-items: center;
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.hintLine {
    font-size: 22px;
    text-align: center;
}

button:hover {
    background-color: #98b6d4;
}

.playAgainBtn {
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    background-color: lightgreen;
    border: 2px solid lightseagreen;
}

.answer {
    font-size: 22px;
}

@media screen and (max-width: 1200px) {
    .game {
        width: 90%;
    }
}

@media screen and (max-width: 750px) {
    body {
        grid-template-rows: max-content;
    }

    .game {
        grid-template-columns: 1fr;
    }

    #imgBox {
        width: 50%;
        height: auto;
        margin: auto; 
    }

    #infoBox {
        padding: 0;
        grid-template-rows: auto;
    }

    .letterBox{
        width: 30px;
        border-radius: 5px;
        margin: 5px;
    }
}